.p {
  margin-top: 110px !important;
}

.cerita-title2 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 576px) {
  .p {
    width: 275px !important;
    text-align: center !important;
    margin-top: 20px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .p {
    width: 420px !important;
    text-align: center !important;
    /* margin-left: auto !important; */
    /* margin-right: auto !important; */
    margin-top: 20px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
}
